*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #7F2020;
    color:aliceblue
    font-family:"changa one", sans-serif;
}
.cabecalho{
    background-color: #978F66;
    display: flex;
    justify-content: space-between;
    padding:15px 25px ;
    align-items: center;
}

.cartao img{
    width:80%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    }
    .cartao-interno{
        position: relative;
        {